<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="display4" >{% block title %} {% endblock %} - ShowerScribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='icons') }}">    

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="height: 70px;">
        <div class="container-sm">
            <a style="font-size: 24px; display: flex; align-items: center;">
                <object data="{{ url_for('static', filename='icons/shower.svg') }}" width="25" height="25"></object>
                <object data="{{ url_for('static', filename='icons/book.svg') }}" width="25" height="25"></object>
                <object data="{{ url_for('static', filename='icons/feather-pointed.svg') }}" width="25" height="25"></object>
            </a>
            
            
            <div class="container-fluid dropdown" style="padding-top: 1rem">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto dropdown-menu" style="padding-left: 1rem">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('show_main') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('show_search') }}">Search</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('show_settings') }}">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
        

    </div>


    <div class="custom-margin">
        {% block content %} {% endblock %}
    </div>

    <!-- Bootstrap JS and its dependencies -->
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery-3.5.1.min.js"></script>

    

</body>
</html>